@model List<ZeerabCollection.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}
<div >
    <form method="post">
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">Search</button>
    </form>  
    <button type="button" id="newBtn">New</button>

</div>
<div>
    <table>

        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>
                        <button class="deleteBtn" data-id="@product.ID">Delete</button>
                    </td>
                </tr>}
        </tbody>
    </table>
</div>

<script>
    //Search Button 
    $("#searchBtn").click(function () {
        var searchTxt = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchTxt
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (xhr, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    //New Button 
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorTheown) {
                alert("Fail");
            });
    });
    //Edit Button 
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorTheown) {
                alert("Fail");
            });
    });

    //Delete Button 
    $(".deleteBtn").click(function () {
        var ConfirmDelete = confirm("Are you sure you want to delete?");

        if (ConfirmDelete)
        {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorTheown) {
                    alert("Fail");
                });
        }
   
    });
</script>


